<!DOCTYPE html>
<title> Work Roulette </title>
<header>
  <!-- Importing JQuery and Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="scripts/roulette.js"></script>
  <link rel="stylesheet" type="text/css" href="css/index.css">
</header>
<body>
  <div id='tasks'>
    <h1> Add Tasks that need to be done </h1>
    <input type='text' id='category' placeholder='Category'></input>
    <input type='text' id='task' placeholder='Task'></input>
    <button id='addList' onclick='addToList()'>Add To List</button>
    <ul id='taskList'>
    </ul>
  </div>
  <div id='roulette'>
    <button id='startRoulette' onclick='startRoulette()'> Start The Roulette! </button>
    <h1 id='currentTask'></h1><br>
    <h1 id='pointsAvailable'></h1>
    <button id='completed' onclick='completedTask()'> Finished the Task! </button>
  </div>
  <div id="userData">
    <h1> All User Stats </h1>
    <h3>Points Earnt : </h3>
    <p id='totalPoints'>0</p>
    <h3>Completed Tasks List </h3>
    <ul id='completedTasks'>
    </ul>
    <div id="dialogBox">

    </div>
    <div id="rewards">
      <button id='reward1' data-popup-open='popup-1'> Click for half hour break (12 Points) </button>
    </div>

    <button id='retrieve' onclick='retrieveData()'> Retrieve your information </button>
  </div>
  <%- include popups.ejs %>
</body>
</html>
