<div class="popup" data-popup="popup-1">
    <div class="popup-inner">
        <h2>Your Half Hour Break Has Started</h2>
        <h3 data-time=30 data-clock='popup-1'></h3>
        <p><a data-popup-close="popup-1" href="#">Close</a></p>
        <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    </div>
</div>
